type project
owners
    Timo Mühlhaus
authors 
    Timo Mühlhaus
projectUrl
    http://github.com/muehlhaus/FSharpAux
iconUrl
    https://raw.githubusercontent.com/muehlhaus/FSharpAux/master/docs/files/img/logo.png
licenseUrl
    http://github.com/muehlhaus/FSharpAux/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    Fsharp F# extensions auxiliary
summary
    Generic extensions for FSharp
description
    Generic extensions for FSharp


