type project
owners
    Timo Mühlhaus
authors 
    Timo Mühlhaus
projectUrl
    http://github.com/muehlhaus/BioFSharp
iconUrl
    https://raw.githubusercontent.com/muehlhaus/BioFSharp/master/docs/files/img/logo.png
licenseUrl
    http://github.com/muehlhaus/BioFSharp/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    bioinformatics computational biology
summary
    Official git repository for BioFSharp
description
    Description not set


